
/* Picture Zoom */
.thumbnail:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}:not( :hover ) {
    transform: none;
    transition: all 0.3s;
}
.thumbnail-mobile:active {
    transform: scale(1.2);
    transition: all 0.3s;
} :not( :active ) {
    transform: none;
    transition: all 0.3s;
}

/* Rotate */
.rotate:hover {
    -moz-animation: spin .4s 1 linear;
    -o-animation: spin .4s 1 linear;
    -webkit-animation: spin .4s 1 linear;
    animation: spin .4s 1 linear;
}
.rotate-mobile:active {
    -moz-animation: spin .4s 1 linear;
    -o-animation: spin .4s 1 linear;
    -webkit-animation: spin .4s 1 linear;
    animation: spin .4s 1 linear;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }
  
/* Responsive */
/* .responsive-devices > .fa + .fa,
.responsive-devices:hover> .fa {
    display: none;

}
.responsive-devices:hover> .fa + .fa {
    display: inherit;
    transition: all 1s;
    -webkit-transition: all 1s;
} */
  
.shrink:hover {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}
.shrink-mobile:active {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}

/* Shake */
.shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.shake-mobile:active {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
  
/* Picture Zoom */
.thumbnail:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}:not( :hover ) {
    transform: none;
    transition: all 0.3s;
}
.thumbnail-mobile:active {
    transform: scale(1.2);
    transition: all 0.3s;
} :not( :active ) {
    transform: none;
    transition: all 0.3s;
}
  
/* Rotate */
.rotate:hover {
    -moz-animation: spin .4s 1 linear;
    -o-animation: spin .4s 1 linear;
    -webkit-animation: spin .4s 1 linear;
    animation: spin .4s 1 linear;
}
.rotate-mobile:active {
    -moz-animation: spin .4s 1 linear;
    -o-animation: spin .4s 1 linear;
    -webkit-animation: spin .4s 1 linear;
    animation: spin .4s 1 linear;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
  
  /* Responsive */
  /* .responsive-devices > .fa + .fa,
  .responsive-devices:hover> .fa {
    display: none;
  
  }
  .responsive-devices:hover> .fa + .fa {
    display: inherit;
    transition: all 1s;
    -webkit-transition: all 1s;
  } */
  
.shrink:hover {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}
.shrink-mobile:active {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}
  
  /* Shake */
.shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.shake-mobile:active {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}