
.shadow-contour {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.lead-in-color {
    color: #FED136;
}
.custom-img-circle {
    border-radius: 50%;
}
.word-wrap {
    word-wrap: break-word;
}
.about-logo {
    height: 23%;
    width: 23%;
}
.phone-list {
    text-align: left;
    margin: auto; 
    width: 200px;
}
.phones {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.promo-content {
	height: auto;
	margin: auto;
	max-width: 1500px;
}
.slick-track {
    padding: 10px;
}
.bank-logo img {
    width: 50%;
    height: 50%;
}

@media only screen and (min-width: 768px) {
    .promo-content {
		padding: 0 10%;
	}
}

@media only screen and (max-width: 767px) {
    .carousel {
		margin: 0 10%;
	}
}