
.shadow-contour {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.lead-in-color {
    color: #FED136;
}
.custom-img-circle {
    border-radius: 50%;
}
.word-wrap {
    word-wrap: break-word;
}
.about-logo {
    height: 23%;
    width: 23%;
}
.phone-list {
    text-align: left;
    margin: auto; 
    width: 200px;
}
.phones {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.promo-content {
	height: auto;
	margin: auto;
	max-width: 1500px;
}
.slick-track {
    margin: 5px 0px;
}
.carousel-logos img {
    width: 50%;
    height: 50%;
}
.custom-link a {
    color: #0041C2;
    text-decoration: underline;
}
.carousel-el-spacing {
    margin-left: 50px;
}
.carousel-el-spacing-mobile {
    margin-left: 85px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.vertical-align-mobile {
    /* text: center; */
}
.fb {
    color: #0041C2;
}

@media only screen and (min-width: 768px) {
    .promo-content {
		padding: 0 10%;
	}
}

@media only screen and (max-width: 767px) {
    .promo-content [class*="col-"] {
		margin-bottom: 50px;
    }  
    .carousel {
		margin: 0 10%;
	}
    .carousel-container {
        margin-top: 25%;
    }
    .custom-link img {
        height: 25%;
        width: 25%;
    }
}